.header {
  display: flex;
  align-items: center;
}

.logo {
  width: 7.6875rem;
  height: 6.5625rem;
  color: #ffffff;
  font-weight: bold;
  background-color: #e67e34;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu {
  display: flex;
  align-items: center;
  padding-right: 8rem;
}

.menu:nth-child(2) {
  gap: 4rem;
}

.menu_text {
  display: none;
  gap: 1rem;
  list-style: none;
  align-items: center;
  font-weight: 500;
  padding-top: 0.5rem;
  cursor: pointer;
}

.menu_text li:hover{
  color: #e67e34;
}

.items {
  display: flex;
}

.shopcart {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.hamburguer_menu{
  cursor: pointer;
}
@media (min-width: 64rem) {
  .header {
    justify-content: space-between;
    padding: 0 4rem 0 8rem;
  }
  .menu_text {
    display: flex;
  }
}
