.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 7.6875rem;
  height: 6.5625rem;
  color: #ffffff;
  font-weight: bold;
  background-color: #e67e34;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu {
  display: flex;
}

.menu:nth-child(2) {
  gap: 6rem;
}

.menu_text {
  display: none;
  gap: 1rem;
  list-style: none;
  align-items: center;
  padding-top: 0.5rem;
}

.items {
  display: flex;
}

.shopcart {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  background-color: transparent;
}

@media (min-width: 64rem) {
  .header {
    justify-content: space-around;
  }
  .menu_text {
    display: flex;
  }
}
